<body>
    <table id="table" class="table">
        <thead>
            <tr>
                <th id="name">Full Name</th>
                <th id="dni">DNI</th>
                <th id="fecha">Fecha</th>
                <th id="tipoTelf1">Lugar</th>
                <th id="telf1">Telefono</th>
                <th id="tipoTelf2">Lugar</th>
                <th id="telf2">Telefono</th>
                <th id="fiebre">Fiebre</th>
                <th id="persistente">Persistencia</th>
                <th id="dificultad">Dificultad al Respirar</th>
                <th id="malestar">Malestar General</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>